body {
  background-image: url('https://t4.ftcdn.net/jpg/02/62/03/65/360_F_262036587_0LSZgmFs9YXDQuR0J7w1rJF1Te7qXpHN.jpg');
  background-color: #1a1818 !important;
}


.title {
  text-align: center;
  font-size: 70px;
}

.logo-starwars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2%;
}

.input-search {
  width: 50% !important;
  margin: auto;
}